<template>
    <CContainer class="d-flex content-center min-vh-100">
        <CRow>
            <CCol>
                <CCardGroup>
                    <CCard class="p-4">

                        <CAlert color="danger" closeButton v-if="errorMessage">
                            {{ errorMessage }}
                        </CAlert>
                        <CAlert color="success" closeButton v-if="userActivatedMessage">
                            Votre compte a été activé. Vous pouvez maintenant vous connecter avec vos identifiants.
                        </CAlert>

                        <CCardBody>
                            <CForm @submit.prevent="handleSubmit">
                                <h1>Connexion</h1>
                                <p class="text-muted">Connectez vous à votre compte</p>
                                <CInput placeholder="Username" autocomplete="" v-model="email">
                                    <template #prepend-content><CIcon name="cil-user"/></template>
                                </CInput>
                                <CInput placeholder="Password" type="password" v-model="password">
                                    <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                                </CInput>
                                <CRow>
                                    <CCol col="6" class="text-left">
                                        <CButton v-if="!loginLoading" color="primary" class="px-md-3" type="submit">Se connecter</CButton>
                                        <CButton v-else color="primary" class="px-md-5" disabled>
                                            <span class="spinner-border spinner-border-sm"></span>
                                        </CButton>
                                    </CCol>
                                    <CCol col="6" class="text-right">
                                        <CButton color="link" class="px-0">Mot de passe oublié?</CButton>
                                        <CButton color="link" class="d-md-none">S'inscrire!</CButton>
                                    </CCol>
                                </CRow>
                            </CForm>
                        </CCardBody>
                    </CCard>
                    <CCard
                            color="primary"
                            text-color="white"
                            class="text-center py-5 d-sm-down-none"
                            body-wrapper
                    >
                        <h2>S'inscrire</h2>
                        <p>Vous êtes prestataire de services et vous souhaitez nous rejoindre ?</p>

                        <CButton color="primary" class="active mt-3" @click="$router.push('register')"> S'inscrire</CButton>
                    </CCard>
                </CCardGroup>
            </CCol>
        </CRow>
    </CContainer>
</template>

<script>
    import {APIConnectionService} from '../shared/services/APIConnection.service'
    import router from '../router/index'
    import {cookies} from '../shared/services/cookies'

    export default {
        name: 'Login',
        data() {
            return {
                loginLoading: false,
                email: '',
                password: '',
                errorMessage: null,

                userActivatedMessage: false
            }
        },
        created () {
            // Affiche un message suite à la redirection depuis la page de validation de compte user
            if(this.$route.params.userActivated !== undefined)
            {
                this.userActivatedMessage = true;
            }
        },
        methods: {
            handleSubmit() {
                this.loginLoading = true;
                APIConnectionService.login(this.email, this.password).then((res) => {
                    if (res !== undefined) {
                        const token = res.token;
                        const refreshToken = res.refresh_token;
                        cookies.login(token, refreshToken);
                        router.push('/Dashboard');
                    }
                }).catch((error) => {
                    if (error.response.data.message !== undefined) {
                        this.errorMessage = error.response.data.message.message;
                    } else if (error.response.data['hydra:description'] !== undefined){
                        this.errorMessage = error.response.data['hydra:description'];
                    }
                }).finally(() => {
                    this.loginLoading = false;
                });

            }
        }
    }
</script>
