<template>
  <div class="d-flex align-items-center min-vh-100">
    <CContainer fluid>
      <CRow class="justify-content-center">
        <CCol md="6">
          <CAlert color="danger" closeButton v-if="errorMessage">
            {{ errorMessage }}
          </CAlert>
          <CAlert color="success" closeButton v-if="successMessage">
            Votre compte a bien été créé. Pour l'activer, un mail vous a été envoyé à {{ successEmail }}
          </CAlert>
          <CCard class="mx-4 mb-0">
            <CCardBody class="p-4">
              <CForm @submit.prevent="handleSubmit">
                <h1>Inscription</h1>
                <p class="text-muted">Créez votre compte professionnel</p>
                <CRow>
                  <CCol sm="6">
                    <CInput
                            placeholder="Nom*"
                            autocomplete="Nom"
                            v-model="formData.name"
                            required
                    >
                      <template #prepend-content><CIcon name="cil-user"/></template>
                    </CInput>
                  </CCol>
                  <CCol sm="6">
                    <CInput
                            placeholder="Prénom*"
                            autocomplete="Prénom"
                            v-model="formData.surname"
                            required
                    >
                      <template #prepend-content><CIcon name="cil-user"/></template>
                    </CInput>
                  </CCol>
                </CRow>
                <CInput
                        placeholder="Société"
                        autocomplete="Société"
                        v-model="formData.company"
                >
                  <template #prepend-content><CIcon name="cil-dollar"/></template>
                </CInput>
                <CInput
                  placeholder="Email*"
                  autocomplete="email"
                  v-model="formData.email"
                  prepend="@"
                />
                <CInput
                  placeholder="Mot de passe*"
                  type="password"
                  autocomplete="new-password"
                  v-model="formData.password"
                  required
                >
                  <template #prepend-content><CIcon name="cil-lock-locked"/></template>
                </CInput>
                <CButton v-if="!registerLoading" color="primary" type="submit">Créer mon compte</CButton>
                <CButton v-else color="primary" class="px-xl-5" disabled>
                  <span class="spinner-border spinner-border-sm"></span>
                </CButton>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
  import {userService} from '../shared/services/user.service'
  import {providerService} from "../shared/services";

  export default {
    name: 'Register',
    data () {
      return {
        formData: {
          name: null,
          surname: null,
          company: null,
          email: null,
          password: null,
        },
        registerLoading: false,
        successMessage: false,
        successEmail: null,
        errorMessage: null
      }
    },
    methods: {
      async createUserAndProvider () {
          const user = await userService.post(this.formData);
          this.formData.user = user['@id'];
          const provider = await providerService.post(this.formData);
          return {user, provider};
      },
      handleSubmit() {
        this.registerLoading = true;
        this.createUserAndProvider().then((res) => {
          this.errorMessage = null;
          this.successEmail = res.user.email;
          this.successMessage = true;
        }).catch((error) => {
          if (error.response.data.message !== undefined) {
            this.errorMessage = error.response.data.message.message;
          } else if (error.response.data['hydra:description'] !== undefined){
            this.errorMessage = error.response.data['hydra:description'];
          }
        }).finally(() => {
          this.registerLoading = false;
        });
      }
    }
  }
</script>
