<template>
    <CContainer class="d-flex content-center min-vh-100">
        <div v-if="isLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="my-3">
                <span class="">Veuillez patienter...</span>
            </div>
        </div>
    </CContainer>
</template>

<script>
    import {userService} from '../shared/services/user.service'
    export default {
        name: "ValidateAccount",
        data () {
            return {
                isLoading: true
            }
        },
        created() {
            userService.activateUserAccount(this.$route.params.id).then((res) => {
                this.$router.push({ name: 'Login', params: { userActivated: 'true' } });
            }).catch((e) => {
                console.log(e);
            })
        }
    }
</script>

<style scoped>

</style>
