<template>
        <CDataTable
                class="mb-0 table-outline"
                hover
                :items="tableItems"
                :fields="tableFields"
                head-color="light"
                pagination
                clickableRows
                @row-clicked="rowClicked"
        >
            <td slot="provider" slot-scope="{item}">
              <span v-for="providerType in item.customerRequest.providerTypes" :key="providerType.id"><b>{{ providerType.type }}</b></span>
            </td>

            <td slot="date" slot-scope="{item}">
              {{ item.customerRequest.date | moment("DD/MM/YYYY") }}, <br> {{ item.customerRequest.place.cityNom }} ({{ item.customerRequest.place.cityCodePostal | trim }})
            </td>

            <td slot="description" slot-scope="{item}">
              {{ item.customerRequest.description }}
            </td>

            <td slot="budget" slot-scope="{item}">
              {{ item.customerRequest.budget }}
            </td>

            <td slot="state" slot-scope="{item}" class="text-center">
              <h5><span :class="'badge badge-' + item.requestState.frontBadgeType">{{ item.requestState.name }}</span></h5>
            </td>
        </CDataTable>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "NewRequestsTable",
        data () {
          return {
              tableItems: [],
              tableFields: [
                  { key: 'provider', label: 'Type(s) de prestataire' },
                  { key: 'date', label: 'Date/Lieu' },
                  { key: 'description' },
                  { key: 'budget' },
                  { key: 'state', label: 'Statut' }
              ]
          }
        },
        filters: {
            trim (value) {
                return value.replace(/\s/g, '');
            }
        },
        computed: {
            ...mapGetters({
                requests: 'proposalRequest/requests',
            }),
        },
        created() {
            for(let request of this.requests) {
                this.tableItems.push(request);
            }
        },
        methods: {
            rowClicked(row) {
                // Ouverture de la modale dans le parent
                this.$emit('row-clicked', row)
            }
        }
    }
</script>

<style scoped>

    ul{
        margin-bottom: 0;
    }

</style>
