<template>
    <CModal
            :show.sync="darkModal"
            :no-close-on-backdrop="true"
            :centered="true"
            title="Modal title 2"
            size="lg"
            color="primary"
    >
        {{ modalContent.customerRequest }}
        <template #header>
            <h6 class="modal-title">Demande pour le {{ modalContent.customerRequest.date | moment('DD/MM/YYYY') }}, à {{ modalContent.customerRequest.place.cityNom }} ({{ modalContent.customerRequest.place.cityCodePostal }})</h6>
            <CButtonClose @click="darkModal = false" class="text-white"/>
        </template>
        <template #footer>
          <div class="container">
            <div class="row">
              <h5>Que souhaitez-vous faire ?</h5>
            </div>
            <div class="row">
              <CButton class="mr-2" @click="showClientContact()" color="primary">Recevoir les coordonées du client</CButton>
              <CButton v-if="!ignoringRequest" @click="ignoreProposition()" color="dark" variant="outline">Cette demande ne m'intéresse pas</CButton>
              <CButton v-else color="dark" class="px-md-5" variant="outline" disabled><span class="spinner-border spinner-border-sm"></span></CButton>
            </div>
          </div>
        </template>
    </CModal>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "RequestModal",
    props: ['showModal', 'content'],
    data () {
      return {
        darkModal: false,
        modalContent: {
          customerRequest: {
            place: {}
          },
        }
      }
    },
    computed: {
      ...mapGetters({
        ignoringRequest: 'proposalRequest/ignoringRequest',
      }),
    },
    watch: {
      showModal(modalContent) {
        // On vérifie qu'on a bien du contenu à afficher
        if (modalContent !== null) {
          this.modalContent = modalContent;
          this.darkModal = true;
        }
      },
      darkModal(isEnabled) {
        if (isEnabled === false) {
          this.$emit('modalClosed');
        }
      }
    },
    methods: {
      showClientContact() {
        this.darkModal = false;
      },
      ignoreProposition() {
        this.$store.dispatch('proposalRequest/ignoreProposalRequest', this.modalContent['@id']).then(() => {
          this.$store.dispatch('proposalRequest/getAllPending');
          this.darkModal = false;
        });
      }
    }
  }
</script>

<style scoped>

</style>
